* {
  font-family: "poopins", sans-serif;
}

.header {
  background-color: #f1faee;
}
.header .navbar-brand {
  font-size: 26px;
}

.header .navbar-nav a {
  color: black;
  font-size: 14px;
  margin-inline: 10px;
}

.header .navbar-nav a:hover {
  color: red;
}
.header .row {
  min-height: 85vh;
}
.header .row .col:nth-child(1) h1 {
  font-size: 70px;
  color: #120f30;
}

.header .row .col:nth-child(1) > p {
  font-size: 14px;
  padding-right: 70px;
}

.header .row .col:nth-child(1) div i {
  color: #dc4535;
}

.header .row .col:nth-child(1) div p {
  font-size: 14px;
}

.header .row .col:nth-child(2) img:nth-child(1) {
  width: 420px;
  z-index: 2;
}

.header .row .col:nth-child(2) img:nth-child(2) {
  width: 550px;
  z-index: 1;
}

.header .row .col:nth-child(2) img:nth-child(3) {
  width: 120px;
  z-index: 3;
  top: 50%;
  right: -10px;
  transform: translateY(-100%);
}
.header .row .col:nth-child(2) img:nth-child(4) {
  width: 120px;
  z-index: 4;
  top: 50%;
  left: -10px;
}

.skills {
  background-color: white;
  min-height: 60vh;
}
.skil .container > h1 {
  color: #120f30;
}

.skills .row .col i {
  color: #321e6a;
  font-size: 46px;
  margin-bottom: 20px;
}
.about {
  background-color: #f1faee;
}
.about .row {
  min-height: 90vh;
}
.about .row .col img:nth-child(1) {
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%);
  -webkit-transform: (-50%);
  -moz-transform: (-50%);
  -o-transform: (-50%);
  z-index: 2;
  width: 400px;
}
.about .row .col img:nth-child(2) {
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%);
  -webkit-transform: (-50%);
  -moz-transform: (-50%);
  -o-transform: (-50%);
  z-index: 1;
  width: 550px;
}
.about .row .col .desc {
  text-align: justify;
}

.about .row .col .brands-icon i {
  font-size: 50px;
  margin-right: 20px;
}

.about .row .col .brands-icon i:nth-child(1) {
  color: orangered;
}
.about .row .col .brands-icon i:nth-child(2) {
  color: blue;
}
.about .row .col .brands-icon i:nth-child(3) {
  color: rgb(216, 216, 18);
}
.about .row .col .brands-icon i:nth-child(4) {
  color: #00c6f7;
}
.about .row .col .brands-icon i:nth-child(5) {
  color: #3fb27f;
}

.course {
  background-color: white;
}
.services h1 {
  padding-bottom: 100px;
}
.footer {
  position: absolute;
  bottom: 0%;
  left: 0%;
  right: 0%;
  background-color: #111;
  height: auto;
  padding-top: 40px;
  width: 100vh;
  color: white;
}
.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer-content h3 {
  font-size: 2.1rem;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 3rem;
  color: #111;
}
.footer-content p {
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
  color: #111;
}
.sosmed {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}
.sosmed img:nth-child(1) {
  width: 35px;
  margin: 10px;
}
.footer-menu {
  margin-bottom: 20px;
}
.footer-menu ul {
  display: flex;
}
.footer-menu ul li {
  padding-right: 10px;
  display: block;
}
.footer-menu ul li a {
  color: #111;
  border: 1.3px solid #111;
  padding: 6px 15px;
  border-radius: 50px;
  text-decoration: none;
}
.footer-menu ul li a:hover {
  color: #27bcda;
}
@media screen and (max-width: 1200px) {
  .header .row .col:nth-child(1) h1 {
    font-size: 50px;
  }
  .header .row .col:nth-child(2) img:nth-child(1) {
    width: 400px;
  }

  .header .row .col:nth-child(2) img:nth-child(2) {
    width: 500px;
  }
  .header .row .col:nth-child(2) img:nth-child(3) {
    right: -60px;
  }
  .header .row .col:nth-child(2) img:nth-child(4) {
    left: -40px;
  }
  .skills .row .col h5 {
    font-size: 16px;
  }
  .about .row .col img:nth-child(1) {
    width: 350px;
  }
  .about .row .col img:nth-child(2) {
    width: 450px;
  }
}

@media screen and (max-width: 992px) {
  .header .row .col:nth-child(2) img:nth-child(3) {
    right: 50px;
  }
  .header .row .col:nth-child(2) img:nth-child(4) {
    left: 20px;
  }
  .about .row {
    min-height: 100vh;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .about .row .col:nth-child(1) {
    margin-bottom: 50px;
  }
  .about .row .col:nth-child(2) .desc {
    text-align: center;
  }
  .about .row .col img:nth-child(1) {
    position: relative;
    width: 300px;
  }
  .about .row .col img:nth-child(2) {
    width: 400px;
  }
  .about .row .col .brands-icon i {
    margin-right: 0px;
    margin-inline: 10px;
  }
}

@media screen and (max-width: 768px) {
  .header .row .col:nth-child(2) img:nth-child(1) {
    width: 300px;
  }
  .header .row .col:nth-child(2) img:nth-child(2) {
    width: 400px;
  }
  .header .row .col:nth-child(2) img:nth-child(3) {
    right: 10px;
  }
  .header .row .col:nth-child(2) img:nth-child(4) {
    left: 0px;
  }
}
@media screen and (max-width: 576px) {
  .header .row .col:nth-child(2) img:nth-child(3) {
    display: none;
  }
  .header .row .col:nth-child(2) img:nth-child(4) {
    display: none;
  }
  .about .row .col img:nth-child(1) {
    width: 250px;
  }
  .about .row .col img:nth-child(2) {
    width: 350px;
  }
  .about .row .col .desc {
    font-size: 14px;
  }
}

@media screen and (max-width: 475px) {
  .header .row .col:nth-child(1) h1 {
    font-size: 40px;
  }
  .header .row .col:nth-child(1) > p {
    font-size: 12px;
  }
  .header .row .col:nth-child(1) div p {
    font-size: 12px;
  }
  .header .row .col:nth-child(2) img:nth-child(1) {
    width: 200px;
  }
  .header .row .col:nth-child(2) img:nth-child(2) {
    width: 300px;
  }
  .about .row .col:nth-child(1) {
    margin-bottom: 20px;
  }
  .about .row .col img:nth-child(1) {
    width: 200px;
  }
  .about .row .col img:nth-child(2) {
    width: 300px;
  }
  .about .row .col .brands-icon i {
    margin-inline: 5px;
  }
}
@media screen and (max-width: 370px) {
  .header .row .col:nth-child(1) h1 {
    font-size: 30px;
  }
  .header .row .col:nth-child(2) img:nth-child(1) {
    width: 150px;
  }
  .header .row .col:nth-child(2) img:nth-child(2) {
    width: 250px;
  }
  .about .row .col img:nth-child(1) {
    width: 180px;
  }
  .about .row .col img:nth-child(2) {
    width: 250px;
  }
  .about .row .col .brands-icon i {
    font-size: 40px;
  }
}
